In [1]:
import pandas as pd
import os
import json
import gzip
import pandas_profiling
from pathlib import Path
import re
import sys

In [2]:
def load_data(file_name, head = 500):
    count = 0
    data = []
    with gzip.open(file_name) as fin:
        for l in fin:
            d = json.loads(l)
            count += 1
            data.append(d)
            
            # break if reaches the 100th line
            if (head is not None) and (count > head):
                break
    return data

In [3]:
path = Path(os.getcwd()).parents[0]

In [22]:
reviews = load_data(os.path.join(path,'data/source','goodreads_reviews_fantasy_paranormal.json.gz'))
inter = load_data(os.path.join(path,'data/source','goodreads_interactions_fantasy_paranormal.json.gz'))
books = load_data(os.path.join(path,'data/source','goodreads_books_fantasy_paranormal.json.gz'))

In [11]:
reviews[1]

{'user_id': '8842281e1d1347389f2ab93d60773d4d',
 'book_id': '5577844',
 'review_id': '52c8ac49496c153e4a97161e36b2db55',
 'rating': 5,
 'review_text': 'A beautiful story. Neil Gaiman is truly a unique storyteller. I did a combo of reading and listening to this story, and Neil is great at reading as well. I got interested in this book after seeing the movie, which I really enjoyed. The book is similar - maybe a bit more poetic - but I think the plot in the movie is a bit improved (not much, but a bit). \n I imagine this book came about because Neil read the below poem that he includes in the beginning, and then he invented a plot around it. The result is the book reads like a epic poem - it\'s creative, magical, and really, just right. \n Go and catch a falling star, \n Get with child a mandrake root, \n Tell me where all past years are, \n Or who cleft the devil\'s foot, \n Teach me to hear mermaids singing, \n Or to keep off envy\'s stinging, \n And find \n What wind \n Serves to advance an honest mind. \n If thou be\'st born to strange sights, \n Things invisible to see, \n Ride ten thousand days and nights, \n Till age snow white hairs on thee, \n Thou, when thou return\'st, wilt tell me, \n All strange wonders that befell thee, \n And swear, \n No where \n Lives a woman true, and fair. \n If thou find\'st one, let me know, \n Such a pilgrimage were sweet; \n Yet do not, I would not go, \n Though at next door we might meet; \n Though she were true, when you met her, \n And last, till you write your letter, \n Yet she \n Will be \n False, ere I come, to two, or three. \n And here is my new favorite quote: "Have been unavoidably detained by the world. Expect us when you see us."',
 'date_added': 'Wed Sep 24 09:29:29 -0700 2014',
 'date_updated': 'Wed Oct 01 00:31:56 -0700 2014',
 'read_at': 'Tue Sep 30 00:00:00 -0700 2014',
 'started_at': 'Sun Sep 21 00:00:00 -0700 2014',
 'n_votes': 5,
 'n_comments': 1}

In [24]:
reviewsdf = pd.DataFrame(reviews)
reviewsdf.set_index('review_id',inplace=True)
reviewsdf.head()

,user_id,book_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
review_id,,,,,,,,,,
dfdbb7b0eb5a7e4c26d59a937e2e5feb,8842281e1d1347389f2ab93d60773d4d,18245960,5,This is a special book. It started slow for ab...,Sun Jul 30 07:44:10 -0700 2017,Wed Aug 30 00:00:26 -0700 2017,Sat Aug 26 12:05:52 -0700 2017,Tue Aug 15 13:23:18 -0700 2017,28,1
52c8ac49496c153e4a97161e36b2db55,8842281e1d1347389f2ab93d60773d4d,5577844,5,A beautiful story. Neil Gaiman is truly a uniq...,Wed Sep 24 09:29:29 -0700 2014,Wed Oct 01 00:31:56 -0700 2014,Tue Sep 30 00:00:00 -0700 2014,Sun Sep 21 00:00:00 -0700 2014,5,1
885c772fb033b041f42d57cef5be0a43,8842281e1d1347389f2ab93d60773d4d,17315048,5,Mark Watney is a steely-eyed missile man. A ma...,Sat Apr 05 09:30:53 -0700 2014,Wed Mar 22 11:33:10 -0700 2017,Mon Aug 25 00:00:00 -0700 2014,Sat Aug 16 00:00:00 -0700 2014,25,5
46a6e1a14e8afc82d221fec0a2bd3dd0,8842281e1d1347389f2ab93d60773d4d,13453029,4,A fun fast paced book that sucks you in right ...,Tue Dec 04 11:12:22 -0800 2012,Sat Jul 26 11:43:28 -0700 2014,Tue Jul 08 00:00:00 -0700 2014,Wed Jul 02 00:00:00 -0700 2014,5,1
a582bfa8efd69d453a5a21a678046b36,8842281e1d1347389f2ab93d60773d4d,13239822,3,"This book has a great premise, and is full of ...",Mon Jul 02 16:04:16 -0700 2012,Wed Mar 22 11:32:20 -0700 2017,Wed Aug 15 00:00:00 -0700 2012,Sun Aug 12 00:00:00 -0700 2012,7,0

In [28]:
reviewsdf.drop(['review_text','date_added','date_updated','read_at','started_at'],axis=1,inplace=True)

In [29]:
reviewsdf.head()

,user_id,book_id,rating,n_votes,n_comments
review_id,,,,,
dfdbb7b0eb5a7e4c26d59a937e2e5feb,8842281e1d1347389f2ab93d60773d4d,18245960,5,28,1
52c8ac49496c153e4a97161e36b2db55,8842281e1d1347389f2ab93d60773d4d,5577844,5,5,1
885c772fb033b041f42d57cef5be0a43,8842281e1d1347389f2ab93d60773d4d,17315048,5,25,5
46a6e1a14e8afc82d221fec0a2bd3dd0,8842281e1d1347389f2ab93d60773d4d,13453029,4,5,1
a582bfa8efd69d453a5a21a678046b36,8842281e1d1347389f2ab93d60773d4d,13239822,3,7,0

In [30]:
pivot = pd.pivot_table(reviewsdf,index='user_id',columns='book_id',values='rating')

In [31]:
pivot.head()

book_id,1,10005168,10025007,10025305,1022863,10301749,10429045,10572,10576365,10579099,...,9579634,9680718,9722219,9761771,9761778,9766146,9833184,9897164,9912994,9918133
user_id,,,,,,,,,,,,,,,,,,,,,
012515e5802b2e0f42915118c90fa04b,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
012aa353140af13109d00ca36cdc0637,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01ec1a320ffded6b2dd47833f2c8e4fb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06bd41ab4c378a8c5a9d45c6b4779650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
08920c9c72f03d03df72908ce393f7e7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
pivot['total'] = pivot.sum(axis=0)

In [35]:
pivot.total

book_id
1           15.0
10005168     3.0
10025007     4.0
10025305     4.0
1022863      5.0
            ...
9766146      4.0
9833184      5.0
9897164      4.0
9912994      2.0
9918133      2.0
Length: 444, dtype: float64

In [19]:
booksdf = pd.DataFrame(books)
booksdf.set_index('book_id',inplace=True)
booksdf.head()

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,isbn13,publication_month,edition_information,publication_year,url,image_url,ratings_count,work_id,title,title_without_series
book_id,,,,,,,,,,,,,,,,,,,,,
7327624,,7,[189911],US,eng,"[{'count': '58', 'name': 'to-read'}, {'count':...",B00071IKUY,false,4.03,,...,,,Book Club Edition,1987,https://www.goodreads.com/book/show/7327624-th...,https://images.gr-assets.com/books/1304100136m...,140,8948723,"The Unschooled Wizard (Sun Wolf and Starhawk, ...","The Unschooled Wizard (Sun Wolf and Starhawk, ..."
6066812,1934876569,6,[151854],US,,"[{'count': '515', 'name': 'to-read'}, {'count'...",,false,4.22,,...,9781934876565,3,,2009,https://www.goodreads.com/book/show/6066812-al...,https://images.gr-assets.com/books/1316637798m...,98,701117,All's Fairy in Love and War (Avalon: Web of Ma...,All's Fairy in Love and War (Avalon: Web of Ma...
33394837,,60,[1052227],US,eng,"[{'count': '54', 'name': 'currently-reading'},...",B01NCIKAQX,true,4.33,B01NCIKAQX,...,,,,,https://www.goodreads.com/book/show/33394837-t...,https://images.gr-assets.com/books/1493114742m...,269,54143148,The House of Memory (Pluto's Snitch #2),The House of Memory (Pluto's Snitch #2)
12182387,,1,[147734],US,,"[{'count': '1057', 'name': 'to-read'}, {'count...",B0056A00P4,true,4.04,B0056A00P4,...,,,,,https://www.goodreads.com/book/show/12182387-t...,https://s.gr-assets.com/assets/nophoto/book/11...,4,285263,"The Passion (Dark Visions, #3)","The Passion (Dark Visions, #3)"
29074693,,21,[811663],US,en-US,"[{'count': '598', 'name': 'to-read'}, {'count'...",B01BLJGA9S,true,4.23,B01BLJGA9S,...,,,,,https://www.goodreads.com/book/show/29074693-p...,https://s.gr-assets.com/assets/nophoto/book/11...,149,46079519,"Prowled Darkness (Dante's Circle, #7)","Prowled Darkness (Dante's Circle, #7)"